*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    text-align: center;
    background-image: url("Images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family:'Red Hat Display';
  }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid none;
    box-shadow: 0px 0px 20px 10px hsl(226, 28%, 76%);
    width: 300px;
    border-radius: 15px;
    background-color:  hsl(225, 100%, 98%);
  }
.illustration{
    border: 1px solid none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;
  }
.para1{
    font-weight: 900px;
    color: grey;
  }
.section{
    padding: 20px;
  }
.subscription{
    display: flex;
    justify-content: space-around;
    border: 1px solid none;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
    font-size: 1rem;
    background-color: hsl(220, 17%, 93%);
    margin: auto;
  }
.music{
    margin-top: 10px;
  }
.annual{
    font-weight: bold;
    margin-bottom: 5px;
  }
.sub{
    font-size: 12px;
    margin-top: 9px;
    margin-right: 30px;
  }
.change{
    font-size: 12px;
    margin-top: 20px;
    text-decoration: underline;
    color: #3846df;
    cursor: pointer;
  }
.btn{
    margin: 15px;
    width: 85%;
    padding: 15px;
    border:  none;
    border-radius: 10px;
    box-shadow: 20px 20px 50px hsl(230, 24%, 66%);
    font-size: 1.2rem;
    font-family: 'Red Hat Display';
    font-weight: bold;
    color: hsl(227, 23%, 84%);
    background-color:  #3846df;
    cursor: pointer;
  }
.cancel{
    font-weight: bold;
    font-size: 1em;
    color: grey;
    cursor: pointer;
    padding: 20px;
}
  

@media screen and (min-width: 450px){
    body{
      background-image: url("Images/pattern-background-desktop.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-color:  hsl(225, 100%, 94%);
    }
    .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;
    box-sizing: border-box;
    border: 1px solid none;
    box-shadow: 0px 0px 20px 10px hsl(226, 28%, 76%);
    width: 400px;
    border-radius: 15px;
    background-color:  hsl(225, 100%, 98%);
  }
  .illustration{
    border: 1px solid none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 400px;
  }
  h2{
    font-size: 25px;
  }
  .para1{
    font-size: 18px;
    margin-top: 10px;
  }
  .section{
    padding: 30px;
  }
  
}
